*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
    /* background: linear-gradient(135deg,#00feba,#5b548a); */
    /* background: radial-gradient(#f0483a,#d10a20); */
    background-image: url("/assest/images/i1.jpg") ;
    
}
.card{
    justify-self: center;
    width: 90%;
    height: 100vh;
    max-width: 50vw;
    color: #fff;
    /* background: linear-gradient(135deg,#00feba,#5b548a); */
    margin: 40px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    transition: transform 0.5s;
}
.search input:hover{
    transform: scale(1.1);

}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.5s;

}
.search button:hover{
    /* background-color: rgb(133, 24, 235); */
    transform: scale(1.1);
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 60px;
    margin-right: 10px;

}
.humidity ,.wind{
    font-size: 35px;
}
.a1{
    font-size: 19px;
}

.error{
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}